[submodule "ccd-data-store-api"]
	path = ccd-data-store-api
	url = git@github.com:banderous/ccd-data-store-api.git
[submodule "ccd-definition-store-api"]
	path = ccd-definition-store-api
	url = git@github.com:banderous/ccd-definition-store-api.git
[submodule "ccd-user-profile-api"]
	path = ccd-user-profile-api
	url = git@github.com:banderous/ccd-user-profile-api.git
