[submodule "ccd-data-store-api"]
	path = ccd-data-store-api
	url = git@github.com:banderous/ccd-data-store-api.git
	ccd-lib = ccd-lib
[submodule "ccd-definition-store-api"]
	path = ccd-definition-store-api
	url = git@github.com:banderous/ccd-definition-store-api.git
[submodule "ccd-user-profile-api"]
	path = ccd-user-profile-api
	url = git@github.com:banderous/ccd-user-profile-api.git
[submodule "am-role-assignment-service"]
	path = am-role-assignment-service
	url = git@github.com:banderous/am-role-assignment-service.git
