[submodule "ccd-data-store-api"]
	path = ccd-data-store-api
	url = git@github.com:hmcts/ccd-data-store-api.git
[submodule "ccd-definition-store-api"]
	path = ccd-definition-store-api
	url = git@github.com:hmcts/ccd-definition-store-api.git
