name: Build

on:
  push:
  pull_request:
    branches:
      - main
jobs:
  test-iteration-1:
    name: test1
    uses: ./.github/workflows/check.yml
  test-iteration-2:
    name: test2
    uses: ./.github/workflows/check.yml
  test-iteration-3:
    name: test3
    uses: ./.github/workflows/check.yml
  test-iteration-4:
    name: test4
    uses: ./.github/workflows/check.yml
  test-iteration-5:
    name: test5
    uses: ./.github/workflows/check.yml
  release:
    if: startsWith(github.ref, 'refs/tags')
    needs: [test-iteration-1, test-iteration-2, test-iteration-3, test-iteration-4, test-iteration-5]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'
      - name: LocalPublish
        run: ./cftlib/gradlew -i publish
