name: Build

on:
  push:
  pull_request:
    branches:
      - main
jobs:
  test-iteration-1:
    uses: ./.github/workflows/gradle.yml
  test-iteration-2:
    uses: ./.github/workflows/gradle.yml
  test-iteration-3:
    uses: ./.github/workflows/gradle.yml
  test-iteration-4:
    uses: ./.github/workflows/gradle.yml
  test-iteration-5:
    uses: ./.github/workflows/gradle.yml
  release:
    needs: [test-iteration-1, test-iteration-2, test-iteration-3, test-iteration-4, test-iteration-5]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'
      - name: LocalPublish
        run: ./gradlew -i publish
      - name: Release
        env:
          GRADLE_PLUGIN_PORTAL_KEY: ${{ secrets.GRADLE_PLUGIN_PORTAL_KEY }}
          GRADLE_PLUGIN_PORTAL_SECRET: ${{ secrets.GRADLE_PLUGIN_PORTAL_SECRET }}
          RELEASE_VERSION: ${{ github.ref }}
        run: ./gradlew :rse-cft-lib-plugin:publishPlugins
        if: startsWith(github.ref, 'refs/tags')

